---
title: "Kayla's Blog thingy"
date: "Last Modified"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />

    <link rel="stylesheet" href="/css/base.css">
    {% if pageStyles %}
      <link rel="stylesheet" href="/css/{{ pageStyles }}">
    {% endif %}
    <!-- link math fonts to make latex pretty -->
    <link rel="stylesheet" href="https://fred-wang.github.io/MathFonts/LatinModern/mathfonts.css"/>

    <title>{{ title }}</title>
  </head>
  <body>

    <div class="header">
        <img src="/img/gulk.png" alt="Pixel art of me kinda">
        <h1>Kayla's blog thingy</h1>
        <h2><nav><a href="/">Home</a><span class="headerDivider"> | </span><a href="/posts/">Blog</a></nav></h2>
    </div>
    <div class="lineBreak"></div>

    {{ content | safe }}
  </body>
</html>