---
title: "Kayla's Blog thingy"
date: "Last Modified"

hasLatex: false
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />

    <link rel="stylesheet" href="/css/base.css">
    {% if pageStyles %}
      <link rel="stylesheet" href="/css/{{ pageStyles }}">
    {% endif %}

    {% if pageJS %}
      <script src="/js/{{ pageJS }}" defer></script>
    {% endif %}

    {% if hasLatex %}
      <!-- link math fonts to make latex pretty -->
      <link rel="stylesheet" href="https://fred-wang.github.io/MathFonts/LatinModern/mathfonts.css"/>
    {% endif %}

    <title>{{ title }}</title>
  </head>
  <body>

    <header>
      <img src="/img/gulk.png" alt="Pixel art of me kinda">
      <h1>Kayla's website thingy</h1>
      <h2><nav><a href="/">Home</a><span class="headerDivider"> | </span><a href="/posts/">Blog</a></nav></h2>
    </header>

    <div class="lineBreak"></div>

    <main>
      {{ content | safe }}
    </main>

    <div class="lineBreak"></div>
    <footer>
      <p><nav>
        <a href="mailto:kayla@gulka.ca">Email</a> | 
        <a href="mailto:mikaela@gulka.ca">"Professional" email</a> | 
        <a href="https://www.instagram.com/mi.gulka/">Instagram</a> |
        <a href="https://letterboxd.com/gulksie/">Letterboxd</a> |
        <a href="https://www.last.fm/user/gulksie">Last.fm</a> |
        <a href="https://open.spotify.com/user/74jzy3polkagkxuliiyfgdq4n">Spotify</a> |
        <a href="https://steamcommunity.com/id/gulksie/">Steam</a> |
        I don't have many interesting socials :(
      </nav></p>
    </footer>
  </body>
</html>