---
layout: layouts/base.njk
title: Blog post
date: 2026-01-01

pageStyles: [post.css]

description: I forgor to write a description
author: Kayla Gulka
---
<div id="titleblock">
    <h1>{{ title }}</h1>
    <p>By {{ author }} | {{ date.toDateString()}}</p>
    <p><strong>Tags:</strong>
    {% for tag in tags %}
        {% if tag != "posts" %}
            {% if loop.last %}
                <a href="/posts/?tag={{ tag }}">{{ tag }}</a>
            {% else %}
                <a href="/posts/?tag={{ tag }}">{{ tag }}</a>,
            {% endif %}
        {% endif %}
    {% endfor %}
    </p>

    {% if thumbnail %}
        <img src="/img/{{ thumbnail }}" alt="{{ thumnailAlt }}">
    {% endif %}
</div>

{{ content | safe }}