body {
    background-color: #8B0000;
    color: #d5d5d5;

    font-family: "Trebuchet MS", Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

a:link {
    color: #FFD700;
}

a:visited {
    color: #c4a700;
}

::selection {
    color: white;
    background-color: #690000;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #420000;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1%;

    padding-bottom: 1%;
}

@media (max-width: 600px) {
    .headerDivider {
        visibility: hidden;
    }
}

.lineBreak {
    width: 100%;
    border-top: 1px solid black;
}

footer {
    text-align: center;
}

main {
    padding: 0 5% 0 5%;
}