---
layout: layouts/base.njk
title: Kayla's Blog Thingy

pageStyles: [postsList.css]
pageJS: [postsList.js]
---
<h1>Blog posts <a href="/feed.xml"><img src="/img/feedIcon.svg" alt="atom feed icon and link"></a></h1>

<h2 id="tagsListHeading">Filter by tags:</h2>
<div id="tagsList"></div>

<div id="postsList">
    {% for post in collections.posts | reverse %}
        <div class="{% for tag in post.data.tags %}{{ tag if tag != "posts" }} {% endfor %}">
            <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
            <p id="postMeta">
            {{ post.date.toDateString() }} | <strong>Tags:</strong>
            {% for tag in post.data.tags %}
                {% if tag != "posts" %}
                    {% if loop.last %}
                        <a href="/posts/?tag={{ tag }}">{{ tag }}</a>
                    {% else %}
                        <a href="/posts/?tag={{ tag }}">{{ tag }}</a>,
                    {% endif %}
                {% endif %}
            {% endfor %}
            </p><p>
            {{ post.data.description }}
            </p>
        </div>
    {% endfor %}
</div>